Repository pingcap-incubator/tidb-in-action, pull requests merged in 2020-04, with the labels that each got.

#808 session1/chapter4/scheduling-overview.md修订
  session1/chapter4/scheduling-overview.md
Labels: reviser

#804 update scheduling-overview.md , tiflash-intro.md and tispark-intro.md
  session1/chapter11/tispark-intro.md
  session1/chapter4/scheduling-overview.md
  session1/chapter9/tiflash-intro.md
Labels: m-session1

#811 Update 6.1.3 高并发的唯一序列号生成方案
  res/session4/chapter6/serial-number/uid-generator.png
  session4/chapter6/serial-number.md
Labels: m-session4

#823 fix #823 session1/char11 tispark-architecture.md
  session1/chapter11/tispark-architecture.md
Labels: m-session1

#819 for #707: Add review for session3/chapter3/sql-diagnosis.md
  session3/chapter3/sql-diagnosis.md
Labels: m-session3

#820 For #708: Add review for session3/chapter3/cluster-info-tables.md
  session3/chapter3/cluster-info-tables.md
Labels: m-session3

#824 Fix #703 Session3 chapter2 statements
  session3/chapter2/statements.md
Labels: m-session3

#827 Fix #704 Session3 chapter2 diagnosis report
  session3/chapter2/diagnosis-report.md
Labels: m-session3

#826 Fix #705 Session3 chapter2 log export
  session3/chapter2/log-export.md
Labels: m-session3

#817 Fix #706 Session3 chapter2 profiling
  session3/chapter2/profiling.md
Labels: m-session3

#830 fix #715: Session3 chapter4 tidb monitor alert
  res/session3/chapter4/tidb-monitor-alert/grafana-screenshot.png
  res/session3/chapter4/tidb-monitor-alert/prometheus-in-tidb.png
  session3/chapter4/tidb-monitor-alert.md
Labels: m-session3

#835 Update autorandom.md
  session1/chapter7/autorandom.md
Labels: m-session1

#831 Fix #768: Session4 chapter8 tikv common config optimize
  session4/chapter8/tikv-common-config-optimize.md
Labels: m-session4

#828 Fix #716 Session3 chapter4 performance map
  session3/chapter4/performance-map.md
Labels: m-session3

#815 Add review for session1/chapter3
  session1/chapter3/tidb-computing.md
  session1/chapter3/tidb-kv-to-relation.md
  session1/chapter3/tidb-metadata-management.md
  session1/chapter3/tidb-sql-layer-summary.md
Labels: m-session1

#836 Fix #702 Update key-vis.md
  session3/chapter2/key-vis.md
Labels: m-session3

#851 Update Session4 6.1.4 一种高效分页批处理方案
  session4/chapter6/page-inaction.md
Labels: m-session4

#849 修订6.5 TiDB在企业数据分级存储中的应用
  session4/chapter6/tidb-in-enterprise-practices.md
Labels: m-session4

#810 session1/chapter4/elastic-scheduling.md
  session1/chapter4/elastic-scheduling.md
  session1/chapter4/scheduling-overview.md
Labels: m-session1

#821 For #709: Add review for session3/chapter3/metrics-schema.md
  session3/chapter3/metrics-schema.md
Labels: m-session3

#822 Fix #713: Add review for session3/chapter3/processlist.md
  session3/chapter3/processlist.md
Labels: m-session3

#825 fix session1/char11 tispark-on-tiflash session2/char1 （1.1.3 and 1.1.4）
  session1/chapter11/tispark-on-bigdata.md
  session1/chapter11/tispark-on-tiflash.md
  session2/chapter1/tiops-deployment.md
  session2/chapter1/tiops-intro.md
Labels: m-session2

#829 Fix #717: Session3 chapter4 read write metrics
  session3/chapter4/read-write-metrics.md
Labels: m-session3

#832 Fix #667 Session1 scheduling overview
  session1/chapter4/scheduling-overview.md
Labels: m-session1

#833 Fix #668 Update elastic-scheduling.md
  session1/chapter4/elastic-scheduling.md
Labels: m-session1

#852 Update Session 3 3.5 SQL 慢查询内存表
  session3/chapter3/slow-query-table.md
Labels: m-session3

#855 Add Session2 - 2 TiDB 备份恢复和导入导出工具
  session2/chapter2/tidb-backup-restore-tools.md
Labels: m-session2

#857 Fix #640: Add review for session2/chapter1/tidb-operator-tools.md
  session2/chapter1/tidb-operator-tools.md
Labels: m-session2

#859 fix session2/chapter1
  session2/chapter1/tiops-deployment.md
  session2/chapter1/tiops-intro.md
  session2/chapter1/tiup-tiops.md
Labels: m-session2

#866 Update two-dc-raft.md
  session4/chapter4/two-dc-raft.md
Labels: m-session4

#874 fix #615: add introduce for deployment-management
  session2/chapter1/deployment-management.md
Labels: m-session2

#877 FIx #752 Update batch-tasks-best-practices
  session4/chapter6/batch-tasks-best-practices.md
Labels: m-session4

#875 fix #720 Update recover-data-gc.md
  session3/chapter5/recover-data-gc.md
Labels: m-session3
